﻿
@{
    ViewBag.Title = "Welcome to Hungry PANDA";
}

<h2>Index</h2>

<a>@Html.ActionLink("veg menu","DisplayVeg")</a>
<div></div>
<a>@Html.ActionLink("Nonveg menu", "DisplayNonVeg")</a>
<div></div>
<a>@Html.ActionLink("Drinks menu", "DisplayDrinks")</a>
<div></div>


